<div class="hit-location-hud-content">
  {{#if actor}}
  <div class="conditions">
    {{#each conditions}}
    <div class="cond">
      <img src="{{icon}}" alt="{{key}}" />
      <span class="value">{{value}}</span>
    </div>
    {{/each}}
  </div>
  <h3>{{actor.name}}</h3>
  <div class="hud-body">
    <div class="body-outline">
      <svg viewBox="0 0 200 280" xmlns="http://www.w3.org/2000/svg">
        <path d="M100,50 C120,50 120,60 120,70 L120,110 C120,130 110,140 100,150 C90,140 80,130 80,110 L80,70 C80,60 80,50 100,50Z" fill="#693731" class="body-part torso-part {{#if anatomy.torso.lost}}lost{{/if}}" />
        <circle cx="100" cy="35" r="15" fill="#693731" class="body-part head-part {{#if anatomy.head.lost}}lost{{/if}}" />
        <path d="M80,70 C70,75 55,90 50,110 C45,130 45,140 55,150" stroke="#693731" stroke-width="16" fill="none" class="body-part left-arm-part {{#if anatomy.leftArm.lost}}lost{{/if}}" />
        <path d="M120,70 C130,75 145,90 150,110 C155,130 155,140 145,150" stroke="#693731" stroke-width="16" fill="none" class="body-part right-arm-part {{#if anatomy.rightArm.lost}}lost{{/if}}" />
        <path d="M90,150 C85,170 80,190 75,230" stroke="#693731" stroke-width="15" fill="none" class="body-part left-leg-part {{#if anatomy.leftLeg.lost}}lost{{/if}}" />
        <path d="M110,150 C115,170 120,190 125,230" stroke="#693731" stroke-width="15" fill="none" class="body-part right-leg-part {{#if anatomy.rightLeg.lost}}lost{{/if}}" />
      </svg>
    </div>
    <div class="location-value head-label {{#if anatomy.head.lost}}lost{{/if}}">
      {{anatomy.head.armor}}/{{anatomy.head.soak}}
      {{#if trauma.head.value}}
      <span class="trauma"><i class="fas fa-bone"></i>{{trauma.head.value}}</span>
      {{/if}}
    </div>
    <div class="location-value torso-label {{#if anatomy.torso.lost}}lost{{/if}}">
      {{anatomy.torso.armor}}/{{anatomy.torso.soak}}
      {{#if trauma.torso.value}}
      <span class="trauma"><i class="fas fa-bone"></i>{{trauma.torso.value}}</span>
      {{/if}}
    </div>
    <div class="location-value left-arm-label {{#if anatomy.leftArm.lost}}lost{{/if}}">
      {{anatomy.leftArm.armor}}/{{anatomy.leftArm.soak}}
      {{#if trauma.leftArm.value}}
      <span class="trauma"><i class="fas fa-bone"></i>{{trauma.leftArm.value}}</span>
      {{/if}}
    </div>
    <div class="location-value right-arm-label {{#if anatomy.rightArm.lost}}lost{{/if}}">
      {{anatomy.rightArm.armor}}/{{anatomy.rightArm.soak}}
      {{#if trauma.rightArm.value}}
      <span class="trauma"><i class="fas fa-bone"></i>{{trauma.rightArm.value}}</span>
      {{/if}}
    </div>
    <div class="location-value left-leg-label {{#if anatomy.leftLeg.lost}}lost{{/if}}">
      {{anatomy.leftLeg.armor}}/{{anatomy.leftLeg.soak}}
      {{#if trauma.leftLeg.value}}
      <span class="trauma"><i class="fas fa-bone"></i>{{trauma.leftLeg.value}}</span>
      {{/if}}
    </div>
    <div class="location-value right-leg-label {{#if anatomy.rightLeg.lost}}lost{{/if}}">
      {{anatomy.rightLeg.armor}}/{{anatomy.rightLeg.soak}}
      {{#if trauma.rightLeg.value}}
      <span class="trauma"><i class="fas fa-bone"></i>{{trauma.rightLeg.value}}</span>
      {{/if}}
    </div>
  </div>
  <h4>Injuries</h4>
  <ul>
    {{#each injuries}}
    <li>{{name}}</li>
    {{/each}}
  </ul>
  {{else}}
  <p>No actor selected</p>
  {{/if}}
</div>
