<form class="{{cssClass}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name"/>
      </h1>
    </div>
  </header>

  <section class="sheet-body">
    <div class="form-group">
      <label>Description</label>
      <textarea name="system.description" placeholder="Description">{{system.description}}</textarea>
    </div>

    <div class="grid grid-3col">
        <div class="resource">
          <label class="resource-label">Armor Value</label>
          <input type="number" name="system.protection.value" value="{{system.protection.value}}" data-dtype="Number"/>
        </div>

        <div class="resource">
          <label class="resource-label">Locations</label>
          <div class="flexcol">
            {{#each locationOptions as |label key|}}
            <label class="checkbox"><input type="checkbox" name="system.locations.{{key}}" {{#if (lookup ../system.locations key)}}checked{{/if}}> {{label}}</label>
            {{/each}}
          </div>
        </div>

        <div class="resource">
          <label class="resource-label">Encumbrance</label>
          <input type="number" name="system.encumbrance.value" value="{{system.encumbrance.value}}" data-dtype="Number"/>
        </div>
      </div>

      <h4>Wear</h4>
      <div class="grid grid-3col">
        {{#if system.locations.head}}
        <div class="resource">
          <label class="resource-label">Head</label>
          <input type="number" name="system.wear.head.value" value="{{system.wear.head.value}}" data-dtype="Number"/>
        </div>
        {{/if}}
        {{#if system.locations.torso}}
        <div class="resource">
          <label class="resource-label">Torso</label>
          <input type="number" name="system.wear.torso.value" value="{{system.wear.torso.value}}" data-dtype="Number"/>
        </div>
        {{/if}}
        {{#if system.locations.leftArm}}
        <div class="resource">
          <label class="resource-label">Left Arm</label>
          <input type="number" name="system.wear.leftArm.value" value="{{system.wear.leftArm.value}}" data-dtype="Number"/>
        </div>
        {{/if}}
        {{#if system.locations.rightArm}}
        <div class="resource">
          <label class="resource-label">Right Arm</label>
          <input type="number" name="system.wear.rightArm.value" value="{{system.wear.rightArm.value}}" data-dtype="Number"/>
        </div>
        {{/if}}
        {{#if system.locations.leftLeg}}
        <div class="resource">
          <label class="resource-label">Left Leg</label>
          <input type="number" name="system.wear.leftLeg.value" value="{{system.wear.leftLeg.value}}" data-dtype="Number"/>
        </div>
        {{/if}}
        {{#if system.locations.rightLeg}}
        <div class="resource">
          <label class="resource-label">Right Leg</label>
          <input type="number" name="system.wear.rightLeg.value" value="{{system.wear.rightLeg.value}}" data-dtype="Number"/>
        </div>
        {{/if}}
      </div>

      <div class="form-group">
        <label>Penalties</label>
        <textarea name="system.penalties">{{system.penalties}}</textarea>
      </div>
  </section>
</form>
